@import 'variables.less';

img {
	max-width: 100%;
	//font-family: @fontBody;
	//font-size: 13px;
	//color: @bodyCopy;
}
.img-fix {display: block;}
 
.centered {
	text-align: center;
} 

a img {
	border: 0;
}  