@import 'variables.less';
.cta {

	text-align: center;
	padding-top: 20px;	

	table {
		margin: 0;
		mso-hide: all;
	}

	td {

		mso-hide: all;

		a {
			color: @ButtonText;
			font-weight: bold;
			font-family: @fontBody;
			text-decoration: none;
			display: inline-block;
			background: @ButtonColor;
			padding: 15px 30px;
			border-radius: 4px;
			font-size: 16px; 
			text-align: center;
			mso-hide: all;		
		}	
	}

	// Button colours
	&.cta-alt {
		a {
			background: @ButtonColorAlt;
			color: @ButtonTextAlt;			
		}
	}
	// Button variations
	&.cta-full {
		// buttons are only full width in media queries less than 540px
	}
	&.cta-small {
		a {
			padding: 6px 10px;
			font-size: 14px;
		}
	}
	&.cta-centered {
		table {
			margin-right: auto;
			margin-left: auto;
		}
	}
}


