@import 'variables.less';

/* #Browser Specific | http://templates.mailchimp.com/development/css/client-specific-styles
============================================================================================= */

/* Hotmail / Outlook */
.ExternalClass {
	width: 100%;
} 
#outlook a{
    padding:0;
}
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div{
    line-height: 100%;
}


/* #CSS Resets | http://templates.mailchimp.com/development/css/reset-styles
============================================================================================= */
body,
.backgroundTable {
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	text-size-adjust:100%;
}
body {
	margin:0;
    padding:0;
}
table,
td {
    border-collapse:collapse;
}

/* #Media Queries | http://www.getskeleton.com/#mediaQueries
============================================================================= */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {

		*[class^="backgroundTable"] {
			width: 100% @imp;
			padding: 0 @imp;
			min-width: 0 @imp;

		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: @wrapWidth) {

		img {
			height: auto;
		}

		*[class^="backgroundTable"] {
			// Header Adjustments
			.preheader {
		   		display: none @imp;
			}
			.header-wrap {
				padding: 10px 0 @imp;
				.header {
					.logo {
						text-align: center @imp;
						img {				 
							max-width: 70% @imp;				
							
						}
					}
					.social {
						display: none;
					}
				}
			}
			.prose-wrap {
				padding: 25px @imp;
			}
			.outer-wrap {
				padding: 0 10px @imp;
			}
			.wrap {
				width: 100% @imp;
			}
			.block-divider {
				line-height: 14px @imp;
				height: 14px @imp;
				font-size: 14px @imp;
			}		

			// Buttons
			.cta {
				td {
					a {
						display: block @imp;						
					}
				}
				&.cta-full table {
					width: 100% @imp;
				}
			}

			.footer-message {
				padding: 15px @imp;				
				.prose {
					width: 100% @imp;
					.p,
					.h5 {
						text-align: center @imp;
					}
				}
				.cta-wrap {
					width: 100% @imp;
					.cta {
						padding-top: 10px;						
						table { 
							float: none @imp;
							margin: 0 auto @imp;
						}
					}
				}
			}
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 480px) {
		*[class^="backgroundTable"] {
			.prose-wrap {
				padding: 20px @imp;
			}
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 320px) {
		*[class^="backgroundTable"] {
			.prose-wrap {
				padding: 15px @imp;
			}
		}
	}
