@import 'variables.less'; 
.jobs-table {
	.icon {
		span {
			background: #FFFFFF @imp;
		}
	}
	.arrow {
		a {
			background: #FFFFFF @imp;
			color: #444444 @imp;
		}
	}
}

.h1,
.h2,
.h3,
.h4,
.h5 {font-family: @fontBody @imp;}
