@import 'variables.less';
@import 'base.less';
@import 'structure.less';

.prose-wrap {
	padding: 30px;
	background: #FFFFFF;	
}

.prose {	

	td {		
		color: @bodyCopy;
		text-align: left;
	}	

	.h1,
	.h2,
	.h3,
	.h4,
	.h5 { 
		font-size: 30px;
		color: @bodyHeader;
		font-weight: @bodyHeaderWeight;
		text-transform: @bodyHeaderTransform;
		font-family: @fontHeader;
		text-align: left;
		line-height: 40px;
	}
	.h2 {
		font-size: 24px;
		line-height: 36px;
		padding-top: 20px;
	}
	.h3 {
		font-size: 21px;
		line-height: 26px;
		padding-top: 20px;
	}
	.h4 {
		font-size: 18px;
		line-height: 22px;
		padding-top: 20px;
	}
	.h5 {
		font-size: 16px;
		line-height: 20px;
		padding-top: 20px;
	}
	.p {		
		padding-top: 10px;
		text-align: left;
		font-family: @fontBody;
		font-size: @baseFontSize;
		line-height: @baseLineHeight;
	}
	.small {
		padding-top: 10px;
		text-align: left;
		font-family: @fontBody;
		font-size: 11px;
		line-height: 16px;
	}

	a {
		color: @linkColor;
		font-weight: bold;
		text-decoration: none;
	}

	a.reset {
		color: @bodyCopy;
		font-weight: normal;
	}

	.ul,
	.ol {
		padding-top: 10px;
		text-align: left;

		> table td {
			color: @bodyCopy;
			font-family: @fontBody;
			font-size: @baseFontSize;
			line-height: @baseLineHeight;
			vertical-align: top;
		}
	}


	.dt,
	.dd {
		font-size: 14px;
		line-height: 16px;
		color: @bodyCopy;
		font-family: @fontBody;
		padding-top: 3px;
	}
	.dt {
		font-weight: 700;
		padding-top: 10px;
	}
	.dd {		
		
	}

	.img {
		padding-top: 10px;
	}
	.img-caption {
		color: @bodyCopy;
		font-family: @fontBody;
		font-size: 12px;
		line-height: 16px;
		padding: 5px;		
		border-bottom: 1px solid #d1d1d1;

		a {font-weight: normal;}  
	}

	.img.framed {
		padding: 25px 25px 0px 25px;
		background: #F7F7F7;
		border-top: 10px solid #FFFFFF;
		text-align: center;
	}
	.img-caption.framed {
		background: #F7F7F7;
		border-bottom: 0; 
		text-align: center; 
		padding: 8px;
	}

	.centered {
		text-align: center;
	}	

	.first {
		padding-top: 0;
	}

	.red {
		color: @Red;
	}
	
	.hr-top {
		line-height: 20px;
		height: 20px;
		font-size: 20px;
	}
	.hr-bottom {
		border-top: 1px solid #e7e7e7;
		line-height: 10px;
		height: 10px;
		font-size: 10px;
	}

	.table {
		padding-top: 10px;
		> table {width: 100%;}

		td,
		th {
			text-align: left;
			font-family: @fontBody;
			font-size: @baseFontSize;
			line-height: @baseLineHeight;
			padding: 7px 3px;
		}
		td {
			border-top: 1px solid #d1d1d1;

		}
		th {padding-top: 0;}
		.last {
			text-align: right;
		}
	}


	.pullquote {
		padding-top: 20px;
		padding-bottom: 10px;
		.quote-mark {
			font-weight: @bodyHeaderWeight;
			text-transform: uppercase;
			font-family: @fontHeader;
			color: @bodyCopy;
			font-size: 36px;
			line-height: 26px;
		}
		.quote {
			color: @bodyCopy;
			font-family: @fontBody;
			font-size: 16px;
			line-height: @baseLineHeight;
			padding: 0 10px;
			font-style: italic;
			font-weight: bold;

			.cite {
				color: lighten(@bodyCopy, 10%);
				font-style: normal;
				font-weight: normal;
				font-size: 13px;
			}
		}
	}

}