{% layout "trio-layout" %}
{% block preheader %}
Hi {~firstName~}, we have matched this role to your profile.
{% endblock %}

{% block prose %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="p first">
			Hi {~firstName~},
		</td>
	</tr>
	<tr>
		<td class="p">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut.
		</td>
	</tr>
	<tr>
		<td class="p">                      
			Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut.
		</td>
	</tr>
</table>
{% endblock %}


{% block company1 %}
<td>
	<table border="0" cellpadding="0" cellspacing="0" class="left" align="left">
		<tr>
			<td>
				<a href="#">
					<img class="img-fix" src="http://placehold.it/200x150/eeeeee" width="148" >
				</a>
			</td>
		</tr>
		<tr>
			<td class="divider">&nbsp;</td>
		</tr>
		<tr>
			<td class="cta cta-green">
			<table border="0" cellspacing="0" cellpadding="0"  align="center">
				<tr>
					<td >
						<a href="#">Apply Now</a>
					</td>
				</tr>
			</table>
		</td>
		</tr>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" class="right prose" align="right">
		<tr>
			<td class="dt first">
				Job Details
			</td>
		</tr> 
		<tr>
			<td class="dd">
				Insight at Company Name
			</td>
		</tr> 
		<tr>
			<td class="dt">
				Deadline
			</td>
		</tr> 
		<tr>
			<td class="dd">
				31st January 2014
			</td>
		</tr>
		<tr>
			<td class="dt">
				Locations
			</td>
		</tr> 
		<tr>
			<td class="dd">
				Central London and City, South West, Scotland
			</td>
		</tr> 
		<tr>
			<td class="dt">
				Duration
			</td>
		</tr> 
		<tr>
			<td class="dd">
				2 Weeks
			</td>
		</tr>                           
	</table>
</td>
{% endblock %}

{% block company1prose %}
<table class="prose trio" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="p first">
			Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</td>
	</tr>
	<tr>
		<td class="p">
			Consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. 
		</td>
	</tr>
	<tr>
		<td class="p">
			<a href="#">Learn More &amp; Apply &rarr;</a>
		</td>
	</tr>
</table>
{% endblock %}

{% block company2 %}
<td>
	<table border="0" cellpadding="0" cellspacing="0" class="left" align="left">
		<tr>
			<td>
				<a href="#">
					<img class="img-fix" src="http://placehold.it/200x150/eeeeee" width="148" >
				</a>
			</td>
		</tr>
		<tr>
			<td class="divider">&nbsp;</td>
		</tr>
		<tr>
			<td class="cta cta-green">
			<table border="0" cellspacing="0" cellpadding="0"  align="center">
				<tr>
					<td >
						<a href="#">Apply Now</a>
					</td>
				</tr>
			</table>
		</td>
		</tr>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" class="right prose" align="right">
		<tr>
			<td class="dt first">
				Job Details
			</td>
		</tr> 
		<tr>
			<td class="dd">
				Insight at Company Name
			</td>
		</tr> 
		<tr>
			<td class="dt">
				Deadline
			</td>
		</tr> 
		<tr>
			<td class="dd">
				31st January 2014
			</td>
		</tr>
		<tr>
			<td class="dt">
				Locations
			</td>
		</tr> 
		<tr>
			<td class="dd">
				Central London and City, South West, Scotland
			</td>
		</tr> 
		<tr>
			<td class="dt">
				Duration
			</td>
		</tr> 
		<tr>
			<td class="dd">
				2 Weeks
			</td>
		</tr>                           
	</table>
</td>
{% endblock %}

{% block company2prose %}
<table class="prose trio" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="p first">
			Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</td>
	</tr>
	<tr>
		<td class="p">
			Consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. 
		</td>
	</tr>
	<tr>
		<td class="p">
			<a href="#">Learn More &amp; Apply &rarr;</a>
		</td>
	</tr>
</table>
{% endblock %}


{% block company3 %}
<td>
	<table border="0" cellpadding="0" cellspacing="0" class="left" align="left">
		<tr>
			<td>
				<a href="#">
					<img class="img-fix" src="http://placehold.it/200x150/eeeeee" width="148" >
				</a>
			</td>
		</tr>
		<tr>
			<td class="divider">&nbsp;</td>
		</tr>
		<tr>
			<td class="cta cta-green">
			<table border="0" cellspacing="0" cellpadding="0"  align="center">
				<tr>
					<td >
						<a href="#">Apply Now</a>
					</td>
				</tr>
			</table>
		</td>
		</tr>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" class="right prose" align="right">
		<tr>
			<td class="dt first">
				Job Details
			</td>
		</tr> 
		<tr>
			<td class="dd">
				Insight at Company Name
			</td>
		</tr> 
		<tr>
			<td class="dt">
				Deadline
			</td>
		</tr> 
		<tr>
			<td class="dd">
				31st January 2014
			</td>
		</tr>
		<tr>
			<td class="dt">
				Locations
			</td>
		</tr> 
		<tr>
			<td class="dd">
				Central London and City, South West, Scotland
			</td>
		</tr> 
		<tr>
			<td class="dt">
				Duration
			</td>
		</tr> 
		<tr>
			<td class="dd">
				2 Weeks
			</td>
		</tr>                           
	</table>
</td>
{% endblock %}

{% block company3prose %}
<table class="prose trio" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="p first">
			Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</td>
	</tr>
	<tr>
		<td class="p">
			Consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. 
		</td>
	</tr>
	<tr>
		<td class="p">
			<a href="#">Learn More &amp; Apply &rarr;</a>
		</td>
	</tr>
</table>
{% endblock %}

