<tr>
	<td align="center" valign="top" class="outer-wrap">
		<table class="footer wrap"  border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td class="p first">

					<a href="http://facebook.com/official.uclan"><img src="http://media.ratemyplacement.co.uk.s3.amazonaws.com/email-templates/connect-uclan/facebook.png" alt="UCLAN Facebook"></a>

					<a href="http://twitter.com/uclan"><img src="http://media.ratemyplacement.co.uk.s3.amazonaws.com/email-templates/connect-uclan/twitter.png" alt="UCLAN Twitter"></a>

					<a href="http://linkedin.com/groups?gid=48283"><img src="http://media.ratemyplacement.co.uk.s3.amazonaws.com/email-templates/connect-uclan/linkedin.png" alt="RateMyPlacement LinkedIn"></a>

				</td>
			</tr>
			<tr>
				<td class="p">
					You have received this email because you signed up via our mobile Data Capture App. This email has been sent to you on behalf of UCLAN, by RMP Connect, part of the RMP Enterprise Ltd Group.<br>
					<a href="http://{~customDomain~}/_act/optout.php?id={~mailId~}">Unsubscribe</a>
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td class="after-footer">
		RMP Enterprise • Registered in England & Wales • Company 6331665 • VAT No 935439500
	</td>
</tr>
