<table class=" wrap"  border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="header-wrap">
			<table class="header" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td class="logo">
						<a href="http://www.uclan.ac.uk/"><img src="http://media.ratemyplacement.co.uk.s3.amazonaws.com/email-templates/connect-uclan/uclan.png" alt="UCLAN Logo"></a>
					</td>
					<td class="social" align="right">
						<table border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td>
									<a href="http://facebook.com/official.uclan"><img src="http://media.ratemyplacement.co.uk.s3.amazonaws.com/email-templates/connect-uclan/facebook.png" alt="UCLAN Facebook"></a>
								</td>
								<td>
									<a href="http://twitter.com/uclan"><img src="http://media.ratemyplacement.co.uk.s3.amazonaws.com/email-templates/connect-uclan/twitter.png" alt="UCLAN Twitter"></a>
								</td>
								<td>
									<a href="http://linkedin.com/groups?gid=48283"><img src="http://media.ratemyplacement.co.uk.s3.amazonaws.com/email-templates/connect-uclan/linkedin.png" alt="RateMyPlacement LinkedIn"></a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
