@import '../variables.less';

@media only screen and (max-width: 540px) {
	*[class^="backgroundTable"] {

		.trio {
			.dt,
			.dd {
				text-align: center @imp;
			}
			.dt.first {
				padding-top: 20px @imp;
			}
			.dd {
				padding-top: 5px @imp;
			} 

			.right.prose {
				float: none @imp;
				display: table @imp;
			}
			.h1 {
				text-align: center @imp;
				padding-top: 20px @imp;
			}
		}

	}
} 