@import 'variables.less';

.company-wrap {
	padding: 20px;
	background: #FFFFFF;

	.company {
		width: 100%;
		.left {
			width: 150px;
			vertical-align: top;		

			img {
				border: 1px solid #d1d1d1;
			}

			.divider { 
				line-height: 3px;
				font-size: 3px;
			}
		}

		.right {
			vertical-align: middle;
			width: 330px;

		}

		.cta {
			padding-top: 0;
			> table {
				width: 100%;
			}
			a {
				display: block;
			}
		}
	}

}