.hero-wrap {
 
	.hero {
		width: 100%; 

		img {
			width: 100%;
			color: #000000;
			font-family: @fontBody;
		}
	}

	.hero-caption {
		background: @bodyHeader;
		text-align: center;
		font-family: @fontHeader;
		font-size: 18px;
		line-height: @baseLineHeight;		
		color: #FFFFFF;
		padding: 20px;
		font-weight: @bodyHeaderWeight;
		text-transform: uppercase;

		a {
			color: @linkColor;
			text-decoration: none;
			font-weight: 700;
		}
	}
	.hero-lead {
		background: #ECECEC;
		padding: 20px;
		font-family: @fontBody;
		font-size: 13px;
		color: #666666;
		line-height: 23px;
	}
}