.media-object {
		
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e7e7e7;
	
	> table {
		width: 100%;
	}

	.object {
		vertical-align: top;
	}

	.copy {
		padding-left: 15px;
	}

	&.last {
		border-bottom: 0;
	}
}